@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
#dropdown-menu-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-i .nav .link,
#dropdown-menu-i .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-i .navbar,
#dropdown-menu-i .dropdown-menu {
  background: #333333;
}
#dropdown-menu-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-i .dropdown-menu a:hover,
#dropdown-menu-i .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-i .navbar-toggler {
  color: #ffffff;
}
#features1-8 P {
  text-align: left;
}

#form1-0 .mbr-header__text {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
#dropdown-menu-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-i .nav .link,
#dropdown-menu-i .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-i .navbar,
#dropdown-menu-i .dropdown-menu {
  background: #333333;
}
#dropdown-menu-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-i .dropdown-menu a:hover,
#dropdown-menu-i .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-i .navbar-toggler {
  color: #ffffff;
}
#msg-box4-c .mbr-header__text {
  color: #ffffff;
}
#msg-box4-c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-c .mbr-article {
  color: #ffffff;
}
#dropdown-menu-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-i .nav .link,
#dropdown-menu-i .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-i .navbar,
#dropdown-menu-i .dropdown-menu {
  background: #333333;
}
#dropdown-menu-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-i .dropdown-menu a:hover,
#dropdown-menu-i .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-i .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-i .nav .link,
#dropdown-menu-i .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-i .navbar,
#dropdown-menu-i .dropdown-menu {
  background: #333333;
}
#dropdown-menu-i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-i .dropdown-menu a:hover,
#dropdown-menu-i .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-i .navbar-toggler {
  color: #ffffff;
}
